<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- Other Hibernate properties -->
        <mapping class="sk.f1api.f1api.Test"/>
        <mapping class="sk.f1api.f1api.entities.calendar.RaceCalendar"/>
    </session-factory>
</hibernate-configuration>
