<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- Other Hibernate properties -->
        <mapping class="sk.f1api.f1api.Test"/>
        <mapping class="sk.f1api.f1api.entity.Circuit"/>
        <mapping class="sk.f1api.f1api.entity.City"/>
        <mapping class="sk.f1api.f1api.entity.Country"/>
        <mapping class="sk.f1api.f1api.entity.GrandPrix"/>
        <mapping class="sk.f1api.f1api.entity.Season"/>
        <mapping class="sk.f1api.f1api.entity.Event"/>
        <mapping class="sk.f1api.f1api.entity.EventType"/>
        <mapping class="sk.f1api.f1api.entity.Version"/>
    </session-factory>
</hibernate-configuration>
